.loading {
	color: var(--text-color-light);
	font-size: 20px;
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* DARK MODE */
.loading--dark {
	color: var(--text-color-dark);
}
