@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
	--text-color-light: #111517;
	--text-color-dark: #fff;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}

html {
	overflow-y: scroll;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}
